*.log
*.pot
*.pyc
*.sqlite3
__pycache__
db.sqlite3
media
*.cpython-311.pyc
*.py[cod] 
*$py.class 

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history


*~
*.swp
*.swo
EShopANDEH/__pycache__/urls.cpython-311.pyc
